<h1><%= t(".title") %></h1>

<% @games.to_a.each do |game| %>
      <div>
        <button type='button' class="btn btn-link btn-lg active"><%=link_to t("games.name") + " " + game.id.to_s, game %></button>
      </div>
<% end %>

<br>
<% if @prec_is_possible %>
      <button type='button' class="btn btn-default btn-lg active"> <%= link_to t(".prec_link"),  root_path(:page => params[:page].to_i-1)%> </button>
<% end %>
<% if @succ_is_possible %>
  <button type='button' class="btn btn-default btn-lg active"><%= link_to t(".succ_link"),  root_path(:page => params[:page].to_i+1)%> </button>
<% end %>

<%# link_to t(succ_link),  controller: "games", action: "index" , page: params[:page].to_i+1 %>

